h1{
    background: darkblue;
    color: white;
    padding: 8px;
    margin-top: 0;
}
body{
    text-align: center;
    height: 100vh;
    margin: 0;
    background-image: url(chapter\ 5\ sky.jpg);
    background-position: center;
    background-size: cover;
}

button{
    color: black;
    width: 330px;
    height: 150px;
    margin: 10px;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: skyblue;
    line-height: 2.5;
    margin-top: 30px;
}

button:hover{
    color: white;
    background: darkblue;
}



